* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
}

main {
    width: 1440px;
    height: 720px;
    
    background: url(./image/Background.svg);
    background-color: rgb(50, 161, 174);
    position: relative;
}

.card {
    width: 350px;
    height: 374px;
    background-color: white;
    background-image: url(./image/Oval.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    border-radius: 20px;
    .foto {
        position: absolute;
        right: 50%;
        transform: translate(50%, 83%);
    }
}

.name {
    font-family: Kumbh Sans;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}

.city {
    font-family: Kumbh Sans;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: rgb(107, 112, 129);
    padding-top: 10px;
}

.name_age_city {
    display: inline-block;
    width: 133px;
    height: 49px;
    margin-top: 60%;
    margin-left: 30%;
}

.followers_likes_photos {
    display: inline-block;
    width: 100%;
    height: 44px;
    text-align: center;
    border-top: solid rgba(232, 233, 236, 1);
    margin-top: 20px;
}

.followers, .likes, .photos {
    padding-top: 20px;
    display: inline-block;
    width: 76px;
    margin: 0 15px;

}

h3 {
    font-family: Kumbh Sans;
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    text-align: center;

}
h5 {
    font-family: Kumbh Sans;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 1.5px;
    text-align: center;
    padding-top: 10px;
    color: rgba(107, 112, 130, 1);
}
.age {
    font-family: Kumbh Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    text-align: center;
    color: rgba(107, 112, 130, 1);
    margin-left: 4px;
}